:root{
    --cor-base: #e4e4e4;
    --cor-complemento: #b3b3b3;
    --cor-destaque: #D45E5E;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var()--cor-base;
    font-family: 'Montserrat', sans-serif;;
}

h1{
    margin: 3% 0;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

h2{
    font-size: 1.3rem;
    margin: 3% 0;
    font-family: 'Inter', sans-serif;
}

p{
    line-height: 1.5;
    margin: 1% 0;
}

.home-header{
    text-align: center;
    padding: 8% 0 2% 0;
}

section{
    padding: 2%;
}

.home-button-area{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.botao{
    background-color: var(--cor-destaque);
    padding: 2%;
    width: 30%;
    border-radius: 10px;
    color: var(--cor-base);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.botao-secundario{
    background-color: var(--cor-complemento);
    color: var(--cor-destaque);

}

footer{
    background-color: var(--cor-destaque);
    color: var(--cor-base);
    text-align: center;
    padding: 2% 0;
    margin-top: 5%;
}

.header-comum{
    padding: 2%;;
}

.header-comum-itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-voltar{
    color: #000;
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
}

.form-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.input-comum{
    background-color: var(--cor-destaque);
    color: var(--cor-base);
    border: 1px solid var(--cor-complemento);
    border-radius: 10px;
    padding: 2%;
}

.input-comum::placeholder{
    color: var(--cor-base);
}

.botao-comum{
    font-weight: bold;
    background-color: var(--cor-destaque);
    color: var(--cor-base);
    border: 1px solid var(--cor-complemento);
    border-radius: 10px;
    padding: 2%;
    width: 40%;
    margin-left: auto;
    text-align: center;
    text-decoration: none;
}

label{
    font-weight: bold;
}

.user-area{
    text-align: right;
}

.user-name, .user-icon{
    font-size: 1.4rem;
}

.logout-link{
   margin-top: 48px;
    color: var(--cor-destaque);
}

.link-pequeno{
    color: var(--cor-destaque);
    font-weight: 900;
    margin-left: auto;
    font-size: 0.8rem;
}

.content-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}

.botao-centro{
    margin: 0;
}

.feed-last{
    margin-left: 2%;
    margin-bottom: 3%;
}

.logo-mini{
    margin-top: 2%;
}

.login-block{
    height: 70vh;
}